.app {
  display: flex;
	flex-direction: column;
  justify-content: center;
  margin: 10px;
}

.table {
  width: 100%;
}

.table h1 {
  margin-top: 0;
}

pie-chart {
  margin: 0 auto;
  background: var(--app-ternary-color);
  border-radius: 2px;
  height: 100%;
}

button {
  border: none;
  background: var(--app-secondary-color);
  text-transform: uppercase;
  padding: 15px;
  border-radius: 2px;
  width: 100%;
  cursor: pointer;
}

.mb-20 {
  margin-bottom: 20px;
}

button:hover {
  background: var(--app-secondary-color-interactive);
}

@media only screen and (min-width: 768px){
  .app {
    flex-direction: row;
    margin: 20px;
  }

  .table {
    width: 65%;
  }

  pie-chart {
    width: 35%;
  }

  button {
    width: auto;
  }
}
